p{
    font-family: 'Roboto', sans-serif;
  }
  
  h4{
    font-family: 'Open Sans', sans-serif;
  }
  
  h1{
    font-family: 'Martel', serif;
  }
  
  h3{
    font-family: 'Libre Baskerville', serif;
  }
  
  div{
    width: 380px;
  }