body{
  background-color: lightpink;
  border: 3px dotted hotpink;
  padding-left: 10px;
  width: 900px;

}
p{
  font-family: 'Roboto', sans-serif;
  width: 900px;
}

h4{
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-family: 'Martel', serif;
}

h3{
  font-family: 'Libre Baskerville', serif;
}

div{
  width: 380px;
}